<igx-card type="outlined" class="card">
  <igx-card-header>
    <h3 igxCardHeaderTitle></h3>
    <h5 igxCardHeaderSubtitle></h5>
    <igx-avatar icon="person" [roundShape]="true" size="small" class="avatar"></igx-avatar>
  </igx-card-header>
  <igx-card-media height="400px">
    <img src="/assets/eagle-fly-3840-x-2160-hdtv-stock.jpg" />
  </igx-card-media>
  <igx-card-actions [reverse]="true" class="actions">
    <button igxButton="flat" class="button">
      Button
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        favorite
      </igx-icon>
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        bookmark
      </igx-icon>
    </button>
    <button igxButton="icon">
      <igx-icon class="icon">
        share
      </igx-icon>
    </button>
  </igx-card-actions>
</igx-card>
<button igxButton="raised" class="user-input">
  Button
</button>
<igx-radio-group class="radio-group">
  <igx-radio value="asd">Label 1</igx-radio>
  <igx-radio></igx-radio>
  <igx-radio>Label 3</igx-radio>
  <igx-radio></igx-radio>
</igx-radio-group>
<igx-select type="border" class="user-input">
  <igx-select-item value="Option" text="Option"></igx-select-item>
  <igx-select-item value="Option" text="Option"></igx-select-item>
  <igx-select-item value="Option" text="Option"></igx-select-item>
  <igx-select-item value="Option" text="Option"></igx-select-item>
  <igx-select-item value="Option" text="Option"></igx-select-item>
</igx-select>
<igx-grid [data]="northwindCategories" [allowFiltering]="true" filterMode="excelStyleFilter" [autoGenerate]="false" width="800px" height="400px" displayDensity="cosy" primaryKey="categoryID" class="grid">
  <igx-column field="categoryID" header="categoryID" title="categoryID" dataType="number" [sortable]="true"></igx-column>
  <igx-column field="description" header="description" title="description" dataType="string" [sortable]="true"></igx-column>
  <igx-column field="name" header="name" title="name" dataType="string" [sortable]="true"></igx-column>
</igx-grid>
